@font-face {
    font-family: 'StateFace';
    // src: url('https://asymmetrik.github.io/broad-covid-dashboard/assets/fonts/StateFace-Regular.otf');
    src: url('/assets/fonts/StateFace-Regular.otf');
}

.state-icon {
    font-family: 'StateFace';
}
