body {
    font-family: 'Arial';
    line-height: 1.8rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    margin-top: 35px;
    margin-bottom: 0;
}

label, .label {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;

    &.subtitle, .subtitle {
        font-size: 14px;
        font-weight: 400;
    }

    &.subtitle-accent, .subtitle-accent {
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
    }
}
