@font-face {
    font-family: 'StateFace';
    src: url('https://asymmetrik.github.io/broad-covid-dashboard/assets/fonts/StateFace-Regular.otf');
    // src: url('/assets/fonts/StateFace-Regular.otf');
}

@font-face {
    font-family: 'DIN Pro';
    src: url('https://asymmetrik.github.io/broad-covid-dashboard/assets/fonts/DINPro Light.otf');
    // src: url('/assets/fonts/DINPro Light.otf');
    font-weight: 100;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://asymmetrik.github.io/broad-covid-dashboard/assets/fonts/DINPro Regular.otf');
    // src: url('/assets/fonts/DINPro Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://asymmetrik.github.io/broad-covid-dashboard/assets/fonts/DINPro Medium.otf');
    // src: url('/assets/fonts/DINPro Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('https://asymmetrik.github.io/broad-covid-dashboard/assets/fonts/DINPro Bold.otf');
    // src: url('/assets/fonts/DINPro Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('https://asymmetrik.github.io/broad-covid-dashboard/assets/fonts/DINPro Italic.otf');
    // src: url('/assets/fonts/DINPro Italic.otf');
    font-style: italic;
}

body {
    font-family: 'DIN Pro';
    font-size: 19px;
    line-height: 30px;
    color: $color-text;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 35px;
}

p {
    margin-top: 35px;
    margin-bottom: 0;
}

label, .label {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;

    &.subtitle, .subtitle {
        font-size: 14px;
        font-weight: 400;
    }

    &.subtitle-accent, .subtitle-accent {
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
    }
}
